body {
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
}

.shadow-lg {
    border-radius: 10px;
}

.bg-black {
    background-color: #121212 !important;
}

.progress {
    background-color: #2a2a2a;
}

.progress-bar {
    background-color: #00bcd4;
}
